.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 18px;
}

.navbar-nav .nav-link:hover {
  color: #00aced;
}

.main-image {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.main-image:hover {
  transform: scale(1.05);
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.thumbnail {
  width: 100px;
  height: 150px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.thumbnail:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.text {
  text-align: center;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
}

.resize-text {
  font-size: 30px;
}